/* #region common */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregione common */

/* #region utilities */

.container
{
    max-width: 1992px;
    width: 90%;
    margin: auto;
}

.flex
{
    display: flex;
}

/* #endregion utilities */

/* #region main */
#app_main
{
    background-color: #000000;
    position: relative;
    height: 90vh;
    width: 100vw;
}

.main_button
{
    position: absolute;
    right: 10px;
    top: 10px;
}

button
{
    background-color: #4a4a4a;
    border: none;
    border-radius: 0.5rem;
    color: white;
    padding: 0.25rem 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5rem;
    margin-left: 0.5rem;
}

.row
{
    padding-top: 6rem;
}

.col
{
    flex-wrap: wrap;
    justify-content: space-between;
}

.screen
{
    position: relative;
    width: 14%;
}

.screen img
{
    max-width: 100%;
    margin-top: 1.5rem;
}

.screen > .users
{
    background-color: #4a4a4a7d;
    color: white;
    position: absolute;
    bottom: 4px;
    left: 0;
    line-height: 2rem;
}

/* #endregion main */

/* #region footer */

#app_footer
{
    background-color: #222222;
    padding: 1rem;
    height: 10vh;
}

.peripherals
{
    width: 20%;
    align-items: center;
}

.chat
{
    width: 60%;
    justify-content: center;
    align-items: center;
}

.green > i
{
    color: green;
}

.close
{
    background-color: #4a4a4a;
    color: red;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}

.button_footer
{
    color: white;
    text-align: center;
    padding-right: 1rem;
}

.button_footer > i
{
    font-size: 1.5rem;
}

.button_footer > .text_footer
{
    font-size: 0.75rem;
}
/* #endregion footer */