/* #region common */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregione common */

/* #region utilities */

.container
{
    max-width: 1992px;
    width: 90%;
    height: 100%;
    margin: auto;
}

.flex
{
    display: flex;
}

/* #endregion utilities */

/* #region header */

#app_header
{
    height: 80px;
    background-color: #000000;
}

/* #endregion header */

/* #region main */
#app_main
{
    background-color: #000000;
    position: relative;
    height: calc(100vh - 160px);
}

.main_button
{
    position: absolute;
    right: 10px;
    top: 10px;
}

#cell,
#fullscreen
{
    background-color: #4a4a4a;
    border: none;
    border-radius: 0.5rem;
    color: white;
    padding: 0.25rem 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.col
{
    flex-wrap: wrap;
    justify-content: space-between;
}

.screen
{
    position: relative;
    width: 14%;
}

.screen img
{
    max-width: 100%;
    margin-top: 1.5rem;
}

.screen > .users
{
    background-color: #4a4a4a7d;
    color: white;
    position: absolute;
    bottom: 4px;
    left: 0;
    line-height: 2rem;
    padding-right: 0.5rem;
}

/* #endregion main */

/* #region footer */

#app_footer
{
    background-color: #222222;
    height: 80px;
}

.peripherals
{
    width: 10%;
    align-items: center;
    justify-content: center;
}

.chat
{
    width: 80%;
    justify-content: center;
    align-items: center;
}

.green > i
{
    color: #4bc800;
}

.close
{
    width: 10%;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

.button_footer
{
    color: white;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
}

.button_footer > i
{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.button_footer > .text_footer
{
    font-size: 0.75rem;
}

.option > .close
{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #4a4a4a;
    color: red;
    justify-content: center;
}
/* #endregion footer */